@model IList<SharedVm.ProductVm>

<div class="row">

    <div class="col-4">

        <ul>
            @foreach (var x in Model)
            {
                <li>@x.Id >@x.Name @x.Price @x.Inventory @x.Description @x.CategoryId @x.BrandId</li>

            }
        </ul>

    </div>

</div>
